[alias]
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
 	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
 	fl = log -u
	dl = "!git ll -1"
	dlc = diff --cached HEAD^
[core]
    excludesfile = ~/.gitignore
[github]
    user = adelarosab
[push]
	default = simple
[remote "origin"]
	prune = true
[user]
	name = Adrian de la Rosa
	email = adrian@delarosab.me
[url "https://"]
	insteadOf = git://
