[alias]
  dl = "!git ll -1"
  dlc = diff --cached HEAD^
  fl = log -u
  fuck = reset --hard HEAD
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
[core]
  excludesfile = ~/.gitignore
[github]
  user = adelarosab
[push]
  default = current
[user]
  email = adrian@delarosab.me
  name = Adrian de la Rosa
[url "https://"]
  insteadOf = git://
